.header {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111827; /* dark navy */
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo span {
  color: #3b82f6; /* blue accent */
  margin-left: 0.5rem;
}
.nav-links a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #3b82f6;
}

.nav-links a.slected {
  color: #3b82f6;
}
.logout {
  background-color: #ef4444; /* Tailwind red-500 */
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.375rem; /* rounded-md */
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 14px rgba(239, 68, 68, 0.3);
  margin-left: 10px;
}
.logout:hover {
  background-color: #ff5e5e; /* Tailwind red-600 */
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(239, 68, 68, 0.5);
}
.login {
  background-color: #44a5ef; /* Tailwind red-500 */
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.375rem; /* rounded-md */
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 14px rgba(68, 199, 239, 0.3);
}
