.mainContinar {
  display: flex;
  flex-direction: row;
  min-height: 100vh; 
  background-color: #f1f1f1;
  overflow: auto;
}
.sidebar {
  width: 250px;
  height: 100%;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  font-family: Arial, sans-serif;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #1e1e1e, #2c2c2c);
}
.sidebar h1 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #4fc3f7;
}

.sidebar a {
  text-decoration: none;
  color: #ccc;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

.sidebar a:hover {
  color: #4fc3f7;
}
.Continer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  color: #333;
  margin: 20px;
  z-index: 10;
}
.continer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.item .imgContiner {
  position: relative;
  width: 100%;
  height: 200px;
}
.item:hover {
  background-color: #ccc;
  cursor: pointer;
}
.item h1 {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  color: #333;
}
.item .img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-left: 10px;
}
.item p {
  font-size: 14px;
  font-weight: normal;
  margin-left: 10px;
  color: #333;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
